<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{header}}</h4>
                      <p class="card-category"></p>
                      <div class="card-title" style="text-align: right">{{membro}}</div>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="orderForm" novalidate >
                        
                        <div class="row">
                            <div class="col-md-12">
                                <p-messages [(value)]="msg"></p-messages>
                            </div>
                        </div>
                        
                        <div class="row">
                              <div class="col-md-4">
                                  <p>Membro</p>
                                  <p-dropdown [options]="membros" formControlName="membro" filter="true" (onChange)="listarLancamento($event)"></p-dropdown>
                              </div>

                              <div class="col-md-4">
                                    <p>Data do lançamento</p>
                                    <p-calendar formControlName="dataLancamento" (onSelect)="hiddenForms($event)" [maxDate]="dataHoje" ></p-calendar>                    
                                  </div>     

                              <div class="col-md-4" [hidden]="formHidden">
                                    <p>Tipo de lançamento</p>
                                    <p-dropdown [options]="tiposLancamentos" formControlName="tipoLancamento" (onChange)="changeTipoLancamento($event)"></p-dropdown>
                              </div>
                                                                                  
                        </div>  
                        
                        <div class="row" [hidden]="formHidden">
                            <div class="col-md-4">
                                <p>Origem lançamento</p>
                                <p-dropdown [options]="origemLancamentos" formControlName="origemLancamento" filter="true" (onChange)="changeOrigemLancamento($event)"></p-dropdown>
                            </div>  
                            
                            <div class="col-md-4">
                                <p>Tipo de produto</p>
                                <p-dropdown [options]="tiposProdutos" formControlName="tipoProduto" filter="true" [disabled]="produtoDisable" (onChange)="changeTipoProduto($event)" ></p-dropdown>
                            </div>

                            <div class="col-md-4">
                                <p>Produto</p>
                                <p-dropdown [options]="produtos" formControlName="produto" [disabled]="produtoDisable" filter="true" (onChange)="calcPrecoVendaProduto($event)"></p-dropdown>
                            </div>                            
                       </div>

                       <div class="row" [hidden]="formHidden">
                            <div class="col-md-4">
                                    <p>Quantidade</p>
                                    <input  type="text" required formControlName="quantidade"/>
                            </div>

                            <div class="col-md-4">
                                <p>Valor</p>
                                <input type="text" formControlName="valorLancamento" [readonly]="!produtoDisable" />
                            </div>

                            <div class="col-md-4">
                                <p>Observação</p>
                                <textarea rows="4" cols="50" formControlName="observacao"></textarea>
                            </div>

                       </div>
                                                
                         <button [disabled]="!orderForm.valid" 
                          (click)="salvarLancamento(orderForm.value)"  
                          type="submit"
                           class="btn btn-outline-danger pull-right">Salvar</button>

                          <!-- <button [hidden]="visibleBtNovo" [disabled]="!orderForm.valid" 
                          (click)="atualizarMembro(orderForm.value)"  
                          type="submit"
                           class="btn btn-outline-danger pull-right">Atualizar</button>

                          <button [hidden]="visibleBtNovo"  
                          [routerLink]="['/membros']"  
                          type="submit"
                           class="btn btn-outline-info pull-right">Voltar</button>
                          -->
                           <div class="clearfix">
                                

                          </div>

                          <div [hidden]="!lancamentos || lancamentos.length===0">

                                <p-table #dt [value]="lancamentos" [paginator]="true" [rows]="10" [globalFilterFields]="['dataLancamento','valorLancamento','observacao']">
                                        <ng-template pTemplate="caption">
                                                <div style="text-align: right">
                                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                    <input type="text" pInputText size="20" placeholder="Filtro: data, valor e observação" 
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:25%">                                   
                                                </div>

                                                <div style="text-align: left">Saldo atual: {{membroSelecionado.saldoMembro.saldo | currency:'BRL'}}</div>
                                               
                                              
                                            </ng-template>
                                        <ng-template pTemplate="header" let-lancamento>
                                            <tr>
                                                <th [pSortableColumn]="'tipoLancamento'">
                                                    Tipo
                                                    <p-sortIcon [field]="'tipoLancamento'"></p-sortIcon>
                                                </th>
                                                <th [pSortableColumn]="'origemLancamento'">
                                                    Origem
                                                    <p-sortIcon [field]="'origemLancamento'"></p-sortIcon>
                                                </th>
                                                <th [pSortableColumn]="'produtoVenda.produto.descricao'">
                                                    Produto
                                                    <p-sortIcon [field]="'produtoVenda.produto.descricao'"></p-sortIcon>
                                                </th>
                                                                            
                                                <th [pSortableColumn]="'dataLancamento'">
                                                    Data
                                                    <p-sortIcon [field]="'dataLancamento'"></p-sortIcon>                                
                                                </th> 
                                                <th [pSortableColumn]="'valorLancamento'">
                                                        Valor unitário
                                                        <p-sortIcon [field]="'valorLancamento'"></p-sortIcon>
                                                    </th> 
                                                <th [pSortableColumn]="'observacao'" >
                                                    Observação
                                                    <p-sortIcon [field]="'observacao'"></p-sortIcon>
                                                </th>  
                                                <th style="width: 8%">
                                                </th>  
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-lancamento>
                                            <tr>
                                                <td>{{findTipoLancamento(lancamento.tipoLancamento)}}</td>
                                                <td>{{findOrigemLancamento(lancamento.origemLancamento)}}</td>
                                                <td *ngIf="!lancamento.produtoVenda || !lancamento.produtoVenda.produto"></td>
                                                <td *ngIf="lancamento.produtoVenda && lancamento.produtoVenda.produto">{{lancamento.produtoVenda.produto.descricao}}</td>
                                                <td>{{lancamento.dataLancamento | date: 'dd/MM/yyyy'}}</td> 
                                                <td>{{lancamento.valorLancamento | currency:'BRL'}}</td>
                                                <td>{{lancamento.observacao}}</td>   
                                                <td><button mat-raised-button type="button" matTooltip="Excluir"
                                                     [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                     (click)="excluirLancamento(lancamento)" >
                                                        <i class="material-icons">close</i>
                                                    </button></td>                                               
                                            </tr>                                           
                                        </ng-template>                                        
                                    </p-table>

                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
