<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Cadastrar do membro</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="orderForm" novalidate >
                          <div class="row">
                              <div class="col-md-4">
                                <p>Nome</p>
                                <input size="30"  type="text" required formControlName="nome" ngModel/>
                              </div>

                              <div class="col-md-4">
                                <p>E-mail</p>
                                <input size="30"  type="text" required formControlName="email" ngModel/>
                              </div>

                              <div class="col-md-3">
                                  <p>Senha</p>
                                  <input size="20"  type="password" required formControlName="senha" ngModel/>
                              </div>
                          </div>

                          <div class="row">
                              
                              <div class="col-md-4">
                                  <p>Data de nascimento</p>
                                  <p-calendar required formControlName="dataNascimento" ngModel [showIcon]="true" dateFormat="dd/mm/yyyy"></p-calendar>                    
                              </div>

                              <div class="col-md-4">
                                  <p>Data de entrada</p>
                                  <p-calendar required formControlName="dataEntrada" ngModel [showIcon]="true"></p-calendar>                                       
                              </div>

                              <div class="col-md-4">
                                  <p>Data de saída</p>
                                  <p-calendar formControlName="dataSaida" ngModel [showIcon]="true"></p-calendar>                                       
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-4">
                                  <p>Situação</p>
                                  <p-dropdown [options]="situacoes" required formControlName="situacao" ngModel></p-dropdown>
                              </div>

                              <div class="col-md-4">
                                  <p>Cargo</p>
                                  <p-dropdown [options]="cargos" required formControlName="cargo" ngModel></p-dropdown>
                              </div>

                              <div class="col-md-4">
                                <p>Patente</p>
                                <p-dropdown [options]="patentes" required formControlName="patente" ngModel></p-dropdown>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button [disabled]="!orderForm.valid" type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
